body {
  width: 100vw;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Barlow', 'Noto Sans KR', 'sans-serif' !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
  color: inherit;
}

@media screen and (max-width: 600px) {
  html {
    font-size: 11px;
  }
}
